@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}




            <!-- 主要内容 -->
            <div class="container">
                <div class="content-search">
                    <form class="layui-form layui-form-pane" action="@Url.Action("Export")">
                        @*<div class="layui-inline">
                        <label class="layui-form-label">商品名称</label>
                        <div class="layui-input-block">
                            <input autocomplete="off" placeholder="请输入商品名称" class="layui-input" type="text" />
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">三级分类</label>
                        <div class="layui-input-inline">
                            <select lay-verify="">
                                <option value="0">请选择</option>
                                <option value="1">名牌包包</option>
                                <option value="2">名牌手表</option>
                                <option value="3">锦龙春酒业</option>
                                <option value="4">伍基酵素</option>
                                <option value="5">韵客翡翠</option>
                                <option value="6">品牌豪车</option>
                            </select>
                        </div>
                    </div>*@

                        <div class="layui-inline">
                            <label class="layui-form-label">时间</label>
                            <div class="layui-input-inline">
                                <input class="layui-input layui-date" placeholder="时间" id="start" name="start">
                            </div>
                        </div>
                        @*<div class="layui-inline">
                        <label class="layui-form-label">结束时间</label>
                        <div class="layui-input-inline">
                            <input class="layui-input layui-date" placeholder="结束时间" id="end" name="end">
                        </div>
                    </div>*@
                        @*<div class="layui-inline"><button class="layui-btn" lay-submit="">查询</button></div>*@
                        <div class="layui-inline"><button class="layui-btn" lay-submit="">导出</button></div>
                    </form>
                </div>

                <div class="tar mt10">
                    @*<button class="layui-btn layui-btn-normal layui-btn-small">查询数据导出</button>*@
                </div>
                <div class="table-listm roll-x" style="display:none">
                    @*firstname = mc1.name,
                secondname =mc2.name,
                thirdname =mc3.name,
                imgurl = item.imgurl,
                price = item.price,
                productname = item.productname,
                shortdate = item.shortdate,
                stock = item.stock*@
                    <table class="layui-table" lay-skin="line">
                        <thead>
                            <tr>
                                <th>商品名称</th>
                                <th>一级分类</th>
                                <th>二级分类</th>
                                <th>三级分类</th>
                                <th>单价</th>
                                <th>剩余库存</th>
                                <th>采集日期</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>

                                <td>名牌手表</td>
                                <td>名牌手表</td>
                                <td>名牌手表</td>
                                <td>名牌手表</td>
                                <td>名牌手表</td>
                                <td>名牌手表</td>
                                <td>名牌手表</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
      

    <script>

  
        layui.use(['jquery', 'laydate','form','layer'], function(){
			var $ = layui.jquery,
			    laydate = layui.laydate,
			    layer = layui.layer,
			    laypage = layui.laypage;


			laydate.render({
			    elem: '#start',
			    min: '2017-10-13',
			    
			});



			$('#start').click(function () {
				end.elem = this
				laydate(start);
			});



		});
  </script>


