@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}


            <!-- 主要内容 -->
            <div class="container">
                <blockquote class="layui-elem-quote hide-wap">
                    <span style="color:#FF5722">超级管理员</span>
                    <p>神器数据分析平台欢迎您！</p>
                </blockquote>

                <fieldset class="layui-elem-field mt10 layui-field-res">
                    <legend>Xwowmall今日(@(DateTime.Now.ToString("yyyy-MM-dd")))实时数据</legend>
                    <div class="layui-field-box">
                        <table class="layui-table" lay-skin="nob">
                            <tbody>
                                <tr>
                                    <td>今日上架商品：@ViewBag.upshelf 个</td>
                                    <td>今日下架商品：@ViewBag.downshelf 个</td>
                                </tr>
                                <tr>
                                    <td>今日销售总量：@ViewBag.totalsails 个</td>

                                    <td>@ViewBag.morethanlast 个</td>
                                </tr>
                                <tr>
                                    <td>总销售额估计：@ViewBag.totalsailsmoney 元</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </fieldset>
            </div>
   
  
    <script>
        layui.use(['jquery', 'layer'], function () {
            var $ = layui.jquery,
                layer = layui.layer
            $(function () {
                FastClick.attach(document.body);
            });
        });
    </script>
